<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.1.0" targetFramework="net472" />
  <package id="AutoMapper.Collection" version="5.0.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="FluentScheduler" version="5.3.0" targetFramework="net461" />
  <package id="FluentValidation" version="8.2.1" targetFramework="net472" />
  <package id="FluentValidation.ValidatorAttribute" version="8.1.0" targetFramework="net472" />
  <package id="FluentValidation.WebApi" version="8.1.0" targetFramework="net472" />
  <package id="LinqKit" version="1.1.24" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Ninject.Extensions.Conventions" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Factory" version="3.3.3" targetFramework="net472" />
  <package id="Ninject.Web.Common" version="3.3.2" targetFramework="net472" />
  <package id="Serilog" version="2.10.0-dev-01221" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Z.EntityFramework.Extensions" version="5.1.4" targetFramework="net461" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.10.1" targetFramework="net461" />
  <package id="Z.Expressions.Eval" version="4.0.25" targetFramework="net461" />
</packages>