<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="Seed_Data" value="\ol_dump_editions_2020-11-30.txt"/> 
        <add key="add_or_remove_follower" value="http://localhost:64892/api/readers/follow"/>
        <add key="authors_url" value="http://localhost:64892/api/authors" />
        <add key="users_url" value="http://localhost:64892/api/readers" />
        <add key="books_url" value="http://localhost:64892/api/books" />
        <add key="publishers_url" value="http://localhost:64892/api/publishers" />
        <add key="series_url" value="http://localhost:64892/api/series" />
        <add key="series_by_name" value="http://localhost:64892/api/series/name" />
        <add key="publisher_by_name" value="http://localhost:64892/api/publishers/name" />
        <add key="author_by_name" value="http://localhost:64892/api/authors/name" />
        <add key="login" value="http://localhost:64892/auth/token" />
        <add key="add_to_bookcase" value="http://localhost:64892/api/bookcase/book" />
        <add key="user_bookcase_url" value="http://localhost:64892/api/bookcases/reader" />
        <add key="add_author_quote" value="http://localhost:64892/api/quotes/author" />
        <add key="add_book_quote" value="http://localhost:64892/api/quotes/book" />
        <add key="add_rating_url" value="http://localhost:64892/api/ratings" />
        <add key="reviews_url" value="http://localhost:64892/api/reviews" />
        <add key="tickets_url" value="http://localhost:64892/api/tickets" />
        <add key="sign_up_url" value="http://localhost:64892/api/auth/sign_up"/>
        <add key="registration_url" value="http://localhost:64892/api/auth/registration"/>
    </appSettings>
</configuration>